<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">MyWC.WebBlazer</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> DashBoard
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <p class="h5">Справочники:</p>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="orders">
                <span class="oi oi-plus" aria-hidden="true"></span> Заказы
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="clients">
                <span class="oi oi-plus" aria-hidden="true"></span> Клиенты
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="phones">
                <span class="oi oi-plus" aria-hidden="true"></span> Телефонный справочник
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="test">
                <span class="oi oi-plus" aria-hidden="true"></span> Тесты
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
