@page "/clients"

<PageTitle>Клиенты</PageTitle>

<div class="card">
    <h4 class="card-header">Клиенты:</h4>
    <div class="card-body">
        <h5>Страница в разработке</h5>
    </div>
</div>

@code {

    }
