@page "/"

<PageTitle>Index</PageTitle>

<h1>Здравствуйте!</h1>

Здесь я разрабатываю сайт для оконной компании.<br>
Подразумевается что здесь будет вестись вся база заказов, клиентов и других справочников.<br>
<br>
Функционал пока исполнен только на странице Клиенты<br>
<br>
Используется:<br>
-Net 7.0<br>
-EntityFrameworkCore 7.0.2<br>
-WebBlazer<br>
<br>
Данное решение состоит из 4 проектов:<br>
MyWС.DataModels - Отвечает за подключение и работу с базой данных.<br>
MyWC.Logic - Содержит сервисы для работы с данными.<br>
MyWC.Api - Организована выдача данных в формате JSON, по запросу.<br>
MyWC.Web - Собственно сам сайт на Blazer. Данные берет из Api.<br>

@*<SurveyPrompt Title="How is Blazor working for you?" />*@
