@page "/orders"

<PageTitle>Заказы</PageTitle>

<div class="card">
    <h4 class="card-header">Заказы:</h4>
    <div class="card-body">
        <h5>Страница в разработке</h5>
    </div>
</div>

@code {

}
