@page "/phones"

<PageTitle>Телефонная книга</PageTitle>

<div class="card">
    <h4 class="card-header">Телефонная книга:</h4>
    <div class="card-body">
        <h5>Страница в разработке</h5>
    </div>
</div>

@code {

}
